<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>890555847970-ddun79qk477g502cv9pmv77l2loalljg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890555847970-ddun79qk477g502cv9pmv77l2loalljg</string>
	<key>API_KEY</key>
	<string>AIzaSyAChukLuT7K0j-bu57J5ZS4t4S2GgqAayk</string>
	<key>GCM_SENDER_ID</key>
	<string>890555847970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dance.queen.beijing</string>
	<key>PROJECT_ID</key>
	<string>idance-684d9</string>
	<key>STORAGE_BUCKET</key>
	<string>idance-684d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:890555847970:ios:7c5947777474d257</string>
	<key>DATABASE_URL</key>
	<string>https://idance-684d9.firebaseio.com</string>
</dict>
</plist>