<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>389086085918-3c6h4kkpb5o9qs6gi1kftf171q8orvo9.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.389086085918-3c6h4kkpb5o9qs6gi1kftf171q8orvo9</string>
        <key>API_KEY</key>
        <string>AIzaSyAGYN8gkeaocG243YH4wMez1Yy2jI4ux9M</string>
        <key>GCM_SENDER_ID</key>
        <string>389086085918</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.dance.queen.beijing</string>
        <key>PROJECT_ID</key>
        <string>ios-dance</string>
        <key>STORAGE_BUCKET</key>
        <string>ios-dance.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <false/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:389086085918:ios:7c5947777474d257</string>
        <key>DATABASE_URL</key>
        <string>https://ios-dance.firebaseio.com</string>
    </dict>
</plist>
